.presentation
  height auto
  &__wrapp
    background-image url('images/presentation__bg.jpg')
    background-position center top
    background-repeat no-repeat
    width: MaxWidth;
    alignBlock()
    color  #fff
    text-align center
  &__head
    font-family ManoNegra
    font-size 7rem
    font-weight 400
    line-height 0.6
    padding-top 210px
  &__text
    font-size 1.143rem
    font-weight 400
    line-height 3.75
    background-image url('images/presentation__line.jpg'), url('images/presentation__line.jpg')
    background-position left 49px, right 49px
    background-repeat no-repeat, no-repeat
    display inline-block
    padding-top 18px
    padding-left 55px
    padding-right 55px
    padding-bottom 228px