@font-face
  font-family 'Aleo'
  src: url('fonts/Regular/aleo-regular-webfont.woff2') format('woff2'),
          url('fonts/Regular/aleo-regular-webfont.ttf')  format('truetype'),
          url('fonts/Regular/aleo-regular-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Aleo'
  src: url('fonts/Light/aleo-light-webfont.woff2') format('woff2'),
          url('fonts/Light/aleo-light-webfont.ttf')  format('truetype'),
          url('fonts/Light/aleo-light-webfont.woff') format('woff')
  font-weight lighter
  font-style normal


