html(lang="ru")
	include ../head/head.pug
	body
		include ../__header/__header.pug
		include ../__presntation/__presentation.pug
		include ../__themenu/__themenu
		include ../__gallery/__gallery

		script(src='site.js')