html(lang="ru")
	include ../head/head.pug
	body
		include ../__header/__header.pug
		include ../__presntation/__presentation.pug
		include ../__themenu/__themenu
		include ../__slickSlider/__slider
		include ../__gallery/__gallery
		include ../__footer/__footer

		script(src='site.js')