section.themenu
    .themenu__wrapp
        h2.themenu__head The Menu
        .themenu__main
            .themenu__item
                p.themenu__names
                    span.themenu__name Voluptate cillum fugiat
                    span.themenu__dir
                    span.themenu__cost  $50
                p.themenu__description Cheese, Tomato, Mushrooms, Onions
            .themenu__item
                p.themenu__names
                    span.themenu__name Arcu pede enim justo
                    span.themenu__dir
                    span.themenu__cost  $45
                p.themenu__description Tuna, Sweetcorn, Cheese
            .themenu__item
                p.themenu__names
                    span.themenu__name Metus varius laoreet
                    span.themenu__dir
                    span.themenu__cost  $62
                p.themenu__description Chicken, Mozzarella, Cheese, Onions
            .themenu__item
                p.themenu__names
                    span.themenu__name Cras dapibussemper nisi
                    span.themenu__dir
                    span.themenu__cost  $32
                p.themenu__description Pineapple, Minced Beef, Cheese
        a.themenu__load#load(href="#")
            p.themenu__load-text Загрузить еще