.themenu
  &__wrapp
    width MaxWidth
    alignBlock()
  &__head
    display flex
    justify-content center
    align-items center
    alignBlock()
    width 155px
    height 75px
    background-image url('images/price__flag.png')
    background-position center
    background-repeat no-repeat
    color #fff
    box-sizing border-box
    padding-bottom 15px
  &__main
    display flex
    flex-wrap wrap
    justify-content space-between
    margin-top 82px
  &__item
    width 45%
    margin-bottom 61px
  &__names
    width 100%
    display flex
    justify-content space-between
    position relative
  &__name
    color  #555454
    font-size 1.143em
    text-align left
  &__dir
    width: 65%;
    height: 1px;
    background-color: #e3e1e1;
    position: relative;
    bottom: -14px;
    left: 0;
  &__cost
    color  #555555
    font-size 1.143em
    text-align right
  &__description
    color  #b7b7b7
    font-size 0.857em
    font-weight 300
    font-style italic
    text-align left
  &__load
    display table
    alignBlock()
    background-color rgba(0, 0, 0, 0)
    border 1px solid #d7d5d5
    text-decoration none
    color #b7b7b7
    &-text
      padding 11px 15px
      &:after
        content '\02C5'
        border-left 1px solid #b7b7b7
        margin-left 10px
        padding-left 10px