section.slider
    .slider__wrapp
        h2.slider__head.header__h2 featured dishes
        .slider__content
            .slider__item
                img.slider__image(src="images/dis/dis__1.jpg" alt="Fugiat nulla sint")
                p.slider__text
                    span.slider__name Fugiat nulla sint
                    span.slider__cost $30
                p.slider__description Cheese, Tomato, Mushrooms, Onions
            .slider__item
                img.slider__image(src="images/dis/dis__2.jpg" alt="Fugiat nulla sint")
                p.slider__text
                    span.slider__name Fugiat nulla sint
                    span.slider__cost $30
                p.slider__description Cheese, Tomato, Mushrooms, Onions
            .slider__item
                img.slider__image(src="images/dis/dis__3.jpg" alt="Fugiat nulla sint")
                p.slider__text
                    span.slider__name Fugiat nulla sint
                    span.slider__cost $30
                p.slider__description Cheese, Tomato, Mushrooms, Onions
            .slider__item
                img.slider__image(src="images/dis/dis__4.jpg" alt="Fugiat nulla sint")
                p.slider__text
                    span.slider__name Fugiat nulla sint
                    span.slider__cost $30
                p.slider__description Cheese, Tomato, Mushrooms, Onions
            .slider__item
                img.slider__image(src="images/dis/dis__4.jpg" alt="Fugiat nulla sint")
                p.slider__text
                    span.slider__name Fugiat nulla sint
                    span.slider__cost $30
                p.slider__description Cheese, Tomato, Mushrooms, Onions
            .slider__item
                img.slider__image(src="images/dis/dis__3.jpg" alt="Fugiat nulla sint")
                p.slider__text
                    span.slider__name Fugiat nulla sint
                    span.slider__cost $30
                p.slider__description Cheese, Tomato, Mushrooms, Onions
            .slider__item
                img.slider__image(src="images/dis/dis__2.jpg" alt="Fugiat nulla sint")
                p.slider__text
                    span.slider__name Fugiat nulla sint
                    span.slider__cost $30
                p.slider__description Cheese, Tomato, Mushrooms, Onions
            .slider__item
                img.slider__image(src="images/dis/dis__1.jpg" alt="Fugiat nulla sint")
                p.slider__text
                    span.slider__name Fugiat nulla sint
                    span.slider__cost $30
                p.slider__description Cheese, Tomato, Mushrooms, Onions
