.gallery
  margin-top 200px
  &__wrapp
    max-width MaxWidth
    alignBlock()
  &__head
    color  #3b3b3b
    font-size 1.571em
    font-weight 700
    text-transform uppercase
    position relative
    margin-bottom 30px
    &:after
      content ' '
      width 200px
      height 1px
      background-color #e5e3e3
      display block
      position absolute
      left 11%
      top calc(50% - 0.02em)