@font-face
{
    font-family: 'Aleo';
    font-weight: lighter;
    font-style: normal;

    src: url('fonts/Light/aleo-light-webfont.woff2') format('woff2'), url('fonts/Light/aleo-light-webfont.ttf') format('truetype'), url('fonts/Light/aleo-light-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'Aleo';
    font-weight: bold;
    font-style: normal;

    src: url('fonts/Bold/aleo-bold-webfont.woff2') format('woff2'), url('fonts/Bold/aleo-bold-webfont.ttf') format('truetype'), url('fonts/Bold/aleo-bold-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'Aleo';
    font-weight: normal;
    font-style: italic;

    src: url('fonts/Regular Italic/aleo-italic-webfont.woff2') format('woff2'), url('fonts/Regular Italic/aleo-italic-webfont.ttf') format('truetype'), url('fonts/Regular Italic/aleo-italic-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'Aleo';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/Regular/aleo-regular-webfont.woff2') format('woff2'), url('fonts/Regular/aleo-regular-webfont.ttf') format('truetype'), url('fonts/Regular/aleo-regular-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'ManoNegra';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/ManoNegra/WCManoNegraBta.woff2') format('woff2'), url('fonts/ManoNegra/WCManoNegraBta.woff') format('woff'), url('fonts/ManoNegra/WCManoNegraBta.ttf') format('truetype');
}
article,
section,
div,
nav,
menu,
html,
body,
header,
footer,
h1,
h2,
p,
ul,
li,
button
{
    margin: 0;
    padding: 0;
}
html
{
    font-family: Aleo;
    font-size: 14px;
}
.header__h2
{
    font-size: 1.571em;
    font-weight: 700;

    position: relative;

    text-transform: uppercase;

    color: #3b3b3b;
}
.header__h2:after
{
    position: absolute;
    top: calc(50% - .02em);
    left: 11%;

    display: block;

    width: 200px;
    height: 1px;

    content: ' ';

    background-color: #e5e3e3;
}
.header
{
    height: auto;
}
.header__wrapp
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__logo-link
{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 24px;
}
.header__nav
{
    padding-top: 46px;
}
.header__menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-right: 74px;

    list-style: none;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.header__menu-item:not(:first-child)
{
    margin-left: 48px;
}
.header__menu-link
{
    font-size: 1rem;
    font-weight: 400;

    text-decoration: none;
    letter-spacing: 1px;

    color: #3b3b3b;
}
.header__menu-link:hover
{
    text-decoration: underline;
}
.presentation
{
    height: auto;
}
.presentation__wrapp
{
    width: 1500px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    color: #fff;
    background-image: url('images/presentation__bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}
.presentation__head
{
    font-family: ManoNegra;
    font-size: 7rem;
    font-weight: 400;
    line-height: .6;

    padding-top: 210px;
}
.presentation__text
{
    font-size: 1.143rem;
    font-weight: 400;
    line-height: 3.75;

    display: inline-block;

    padding-top: 18px;
    padding-right: 55px;
    padding-bottom: 228px;
    padding-left: 55px;

    background-image: url('images/presentation__line.jpg'), url('images/presentation__line.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: left 49px, right 49px;
}
.themenu__wrapp
{
    width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.themenu__head
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 155px;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;

    color: #fff;
    background-image: url('images/price__flag.png');
    background-repeat: no-repeat;
    background-position: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.themenu__main
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 82px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.themenu__item
{
    width: 45%;
    margin-bottom: 61px;
}
.themenu__names
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.themenu__name
{
    font-size: 1.143em;

    text-align: left;

    color: #555454;
}
.themenu__dir
{
    position: relative;
    bottom: -14px;
    left: 0;

    width: 65%;
    height: 1px;

    background-color: #e3e1e1;
}
.themenu__cost
{
    font-size: 1.143em;

    text-align: right;

    color: #555;
}
.themenu__description
{
    font-size: .857em;
    font-weight: 300;
    font-style: italic;

    text-align: left;

    color: #b7b7b7;
}
.themenu__load
{
    display: table;

    margin-right: auto;
    margin-left: auto;

    text-decoration: none;

    color: #b7b7b7;
    border: 1px solid #d7d5d5;
    background-color: rgba(0,0,0,0);
}
.themenu__load-text
{
    padding: 11px 15px;
}
.themenu__load-text:after
{
    margin-left: 10px;
    padding-left: 10px;

    content: '\02C5';

    border-left: 1px solid #b7b7b7;
}
.slick-slider
{
    position: relative;

    display: block;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list .dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;

    margin-right: auto;
    margin-left: auto;
}
.slick-track:before
{
    display: table;

    content: '';
}
.slick-track:after
{
    display: table;
    clear: both;

    content: '';
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-slide img
{
    display: block;
}
.slick-slide .slick-loading img
{
    display: none;
}
.slick-slide .dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden
{
    display: none;
}
.slider
{
    margin-top: 200px;
}
.slider__wrapp
{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.slider__head:after
{
    left: 15%;
}
.slider__content
{
    width: 100%;
    height: 300px;
    margin-top: 80px;
}
.slider__item
{
    width: 230px;
}
.slider__image
{
    margin: 0 auto;
    margin-bottom: 30px;
}
.slider__text
{
    font-size: 1.143em;
    font-weight: 300;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 230px;
    margin: 0 auto;

    color: #555;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.slider__description
{
    font-size: .857em;
    font-weight: 300;
    font-style: italic;

    display: block;

    width: 230px;
    margin: 0 auto;

    text-align: left;

    color: #b7b7b7;
}
.slider__dots
{
    position: absolute;
    top: -86px;
    right: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    list-style: none;
}
.slider__dots-item
{
    margin-left: 11px;
}
.slider__dots-item_active .slider__dots-button
{
    background-color: #9b9b9b;
}
.slider__dots-button
{
    font-size: 0;

    width: 9px;
    height: 9px;

    border: none;
    border-radius: 50%;
    background-color: #dedede;
}
.gallery
{
    margin-top: 200px;
}
.gallery__wrapp
{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
