header.header
    .header__wrapp
        a.header__logo-link
            img.header__logo-image(src='images/header__logo.png')
        nav.header__nav
            menu.header__menu
                li.header__menu-item
                    a.header__menu-link(href="#") Our Story
                li.header__menu-item
                    a.header__menu-link(href="#") Menu
                li.header__menu-item
                    a.header__menu-link(href="#") Reservation
                li.header__menu-item
                    a.header__menu-link(href="#") News
                li.header__menu-item
                    a.header__menu-link(href="#") Rviews
