.header
  height auto
  &__wrapp
    max-width 1200px
    alignBlock()
    display flex
    justify-content space-between
  &__logo
    &-link
      margin-top 40px
      margin-bottom 40px
      margin-left 24px
  &__nav
    padding-top 46px
  &__menu
    display flex
    justify-content flex-end
    list-style none
    margin-right 74px
    &-item:not(:first-child)
      margin-left 48px
    &-link
      color #3b3b3b
      font-size 1rem
      font-weight 400
      text-decoration none
      letter-spacing 1px
      &:hover
        text-decoration underline
